Repository confluentinc/kafka-tutorials: changes, and which Semaphore blocks are due for each by the changed paths.
All: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run second block of tests (ksqlDB recipes), Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

☕️ Build and Test Java (Kafka and Kafka Streams) Only:
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - checkout
  jobs:
  - name: Tests
    matrix:
    - env_var: JAVA_VERSION
      values:
      - '17'
    commands:
    - sem-version java $JAVA_VERSION
    - ./gradlew clean test

Run first block of tests (mostly Kafka and KStreams):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: KStreams Test Streams schedule operations tests
    commands:
    - make -C _includes/tutorials/kafka-streams-schedule-operations/kstreams/code tutorial
  - name: KStreams transforming tests
    commands:
  ...

Run second block of tests (ksqlDB recipes):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: Payment Status Check
    commands:
    - make -C _includes/tutorials/payment-status-check/ksql-test/code tutorial
  - name: Model Retraining
    commands:
  ...

Run third block of tests (mostly ksqlDB):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: KStreams Connect key tests
    commands:
    - make -C _includes/tutorials/connect-add-key-to-source/kstreams/code tutorial
  - name: KSQL Test ksqlDB nested JSON tests
    commands:
  ...

Run fourth block of tests (FlinkSql or DataStream API):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 11
  jobs:
  - name: Flink SQL aggregation MIN/MAX tests
    commands:
    - make -C _includes/tutorials/aggregating-minmax/flinksql/code tutorial
  - name: Flink SQL test for aggregating count
    commands:
  ...

Remove extra legalese (#1650)
  _includes/footer.html
Due: none

remove jib it's not needed anymore, remove zookeeper ref
  _includes/tutorials/aggregating-average/kstreams/code/build.gradle
  _includes/tutorials/aggregating-count/kstreams/code/build.gradle
  _includes/tutorials/aggregating-minmax/kstreams/code/build.gradle
  _includes/tutorials/aggregating-sum/kstreams/code/build.gradle
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
  _includes/tutorials/cogrouping-streams/kstreams/code/build.gradle
  _includes/tutorials/connect-add-key-to-source/kstreams/code/build.gradle
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/code/build.gradle
  _includes/tutorials/dynamic-output-topic/kstreams/code/build.gradle
  _includes/tutorials/error-handling/kstreams/code/build.gradle
  _includes/tutorials/filtering/kstreams/code/build.gradle
  _includes/tutorials/finding-distinct/kstreams/code/build.gradle
  _includes/tutorials/fk-joins/kstreams/code/build.gradle
  _includes/tutorials/joining-stream-table/kstreams/code/build.gradle
  _includes/tutorials/kafka-consumer-application/kafka/code/build.gradle
  _includes/tutorials/kafka-producer-application-callback/kafka/code/build.gradle
  _includes/tutorials/kafka-producer-application/kafka/code/build.gradle
  _includes/tutorials/kafka-streams-schedule-operations/kstreams/code/build.gradle
  _includes/tutorials/merging/kstreams/code/build.gradle
  _includes/tutorials/multiple-event-types/kafka/code/build.gradle
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/code/build.gradle
  _includes/tutorials/produce-consume-lang/scala/code/build.gradle
  _includes/tutorials/schedule-ktable-ttl-aggregate/kstreams/code/build.gradle
  _includes/tutorials/schedule-ktable-ttl/kstreams/code/build.gradle
  _includes/tutorials/serialization/kstreams/code/build.gradle
  _includes/tutorials/session-windows/kstreams/code/build.gradle
  _includes/tutorials/sliding-windows/kstreams/code/build.gradle
  _includes/tutorials/splitting/kstreams/code/build.gradle
  _includes/tutorials/streams-to-table/kstreams/code/build.gradle
  _includes/tutorials/time-concepts/ksql/code/build.gradle
  _includes/tutorials/transforming/kafka/code/build.gradle
  _includes/tutorials/transforming/kstreams/code/build.gradle
  _includes/tutorials/tumbling-windows/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run third block of tests (mostly ksqlDB)

Update README.md
  README.md
Due: none

Updates for adjusting to no ZK
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/dev/expected-output-describe-topic1.txt
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/dev/expected-output-describe-topic2.txt
Due: Run third block of tests (mostly ksqlDB)

Update README.md (#1659)
  README.md
Due: none

Switch to localhost and see if this still works
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

Revert to return docker hostname in external
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

Docker hostname experiment
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

revert network experiment
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

Update docker compose to use controller and 2 brokers
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/test/consume-data-input.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/test/consume-data-output-partition-0.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/test/consume-data-output-partition-1.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/test/produce-data-input.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/dev/create-topic.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/dev/describe-new-topic.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/dev/describe-original-topic.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/test/harness-console-consumer-topic1-partition-0.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/test/harness-console-consumer-topic2-partition-0.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/test/harness-console-consumer-topic2-partition-1.sh
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/tutorial-steps/test/harness-console-producer.sh
Due: Run third block of tests (mostly ksqlDB)

chore: fix trivial typo
  _data/tutorials.yaml
Due: none

Update orders-avro-schema.json
  _includes/tutorials/console-consumer-producer-avro/kafka/code/orders-avro-schema.json
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Update orders-avro-schema.json
  _includes/tutorials/console-consumer-producer-avro/confluent/code/orders-avro-schema.json
Due: none

Update _includes/tutorials/console-consumer-producer-avro/kafka/code/orders-avro-schema.json
  _includes/tutorials/console-consumer-producer-avro/kafka/code/orders-avro-schema.json
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Update _includes/tutorials/console-consumer-producer-avro/confluent/code/orders-avro-schema.json
  _includes/tutorials/console-consumer-producer-avro/confluent/code/orders-avro-schema.json
Due: none

remove sr api key prompt
  _includes/shared/markup/ccloud/ccloud-sr-consume.adoc
  _includes/shared/markup/ccloud/ccloud-sr-produce.adoc
  _includes/tutorials/console-consumer-producer-avro/confluent/markup/dev/consume-topic.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/finding-distinct/confluent/markup/dev/ccloud-run-produce.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-movies.adoc
  _includes/tutorials/kafka-connect-datagen/confluent/markup/dev/check-connector.adoc
  _includes/tutorials/session-windows/confluent/markup/dev/ccloud-run-consumer.adoc
Due: none

remove better-monads dependency
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
  README.md
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/PressureDatetimeExtractor.java
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/helper/TopicCreation.java
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

remove better-monads dependency
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
  README.md
  _includes/tutorials/window-final-result/kstreams/code/Makefile
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/PressureDatetimeExtractor.java
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/helper/TopicCreation.java
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

remove better-monads dependency (#1665)
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
  README.md
  _includes/tutorials/window-final-result/kstreams/code/Makefile
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/PressureDatetimeExtractor.java
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/helper/TopicCreation.java
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

remove better-monads dependency (#1665) (#1666)
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
  README.md
  _includes/tutorials/window-final-result/kstreams/code/Makefile
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/PressureDatetimeExtractor.java
  _includes/tutorials/window-final-result/kstreams/code/src/main/java/io/confluent/developer/helper/TopicCreation.java
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

point "Coding in Motion" nav item to python example
  _includes/navMenus/learn.html
Due: none

point "Coding in Motion" nav item to python example (#1667)
  _includes/navMenus/learn.html
Due: none

chore: grammar sweep multiple event types tutorial
  _data/tutorials.yaml
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-config-file.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/code/build.gradle
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/all-events.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/pageview.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventAvroProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventProtobufProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/customer-event.proto
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/pageview.proto
  _includes/tutorials/multiple-event-types/kafka/markup/dev/build-project.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-avro-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-proto-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-topic.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-build-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-dev-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-avro.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-protobuf.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/run-dev-app.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/test/make-produce-consume-application-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

chore: grammar sweep multiple event types tutorial
  _data/harnesses/multiple-event-types/confluent.yml
  _data/harnesses/multiple-event-types/kafka.yml
  _data/tutorials.yaml
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-config-file.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/code/build.gradle
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/all-events.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/pageview.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventAvroProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventProtobufProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/customer-event.proto
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/pageview.proto
  _includes/tutorials/multiple-event-types/kafka/markup/dev/build-project.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-avro-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-proto-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-topic.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-build-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-dev-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-avro.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-protobuf.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/run-dev-app.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/test/make-produce-consume-application-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

bring KT nav up to date with CD
  _includes/nav.html
  _includes/navMenus/community.html
  _includes/navMenus/courses.html
  _includes/navMenus/learn.html
  assets/img/icon-current-light.png
  assets/img/icon-mail-light.png
  assets/sass/_nav.scss
Due: none

chore: grammar sweep multiple event types tutorial (#1669)
  _data/harnesses/multiple-event-types/confluent.yml
  _data/harnesses/multiple-event-types/kafka.yml
  _data/tutorials.yaml
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-config-file.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/code/build.gradle
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/all-events.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/avro/pageview.avsc
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventAvroProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/java/io/confluent/developer/MultiEventProtobufProduceConsumeApp.java
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/customer-event.proto
  _includes/tutorials/multiple-event-types/kafka/code/src/main/proto/pageview.proto
  _includes/tutorials/multiple-event-types/kafka/markup/dev/build-project.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-avro-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-proto-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/create-topic.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-build-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-dev-file.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-avro.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/make-multi-event-app-protobuf.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/register-schemas.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/dev/run-dev-app.adoc
  _includes/tutorials/multiple-event-types/kafka/markup/test/make-produce-consume-application-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

bring KT nav up to date with CD (#1670)
  _includes/nav.html
  _includes/navMenus/community.html
  _includes/navMenus/courses.html
  _includes/navMenus/learn.html
  assets/img/icon-current-light.png
  assets/img/icon-mail-light.png
  assets/sass/_nav.scss
Due: none

add CONFLUENTDEV1 promo code instructions
  _includes/shared/markup/ccloud/ccloud-setup-self.adoc
  _includes/shared/markup/ccloud/try-ccloud-properties.adoc
  _includes/shared/markup/ccloud/try-ccloud.adoc
Due: none

add CONFLUENTDEV1 promo code instructions (#1672)
  _includes/shared/markup/ccloud/ccloud-setup-self.adoc
  _includes/shared/markup/ccloud/try-ccloud-properties.adoc
  _includes/shared/markup/ccloud/try-ccloud.adoc
Due: none

remove sr api key prompt (#1664)
  _includes/shared/markup/ccloud/ccloud-sr-consume.adoc
  _includes/shared/markup/ccloud/ccloud-sr-produce.adoc
  _includes/tutorials/console-consumer-producer-avro/confluent/markup/dev/consume-topic.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/finding-distinct/confluent/markup/dev/ccloud-run-produce.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-movies.adoc
  _includes/tutorials/kafka-connect-datagen/confluent/markup/dev/check-connector.adoc
  _includes/tutorials/session-windows/confluent/markup/dev/ccloud-run-consumer.adoc
Due: none

Update orders-avro-schema.json (#1663)
  _includes/tutorials/console-consumer-producer-avro/confluent/code/orders-avro-schema.json
Due: none

Update orders-avro-schema.json (#1662)
  _includes/tutorials/console-consumer-producer-avro/kafka/code/orders-avro-schema.json
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

change CODEOWNERS to developer-advocates
  .github/CODEOWNERS
Due: none

change CODEOWNERS to developer-advocates (#1674)
  .github/CODEOWNERS
Due: none

chore: update repo semaphore project
  .semaphore/project.yml
Due: none

Path conditions:
  ☕️ Build and Test Java (Kafka and Kafka Streams) Only: any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*
  Run first block of tests (mostly Kafka and KStreams): any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*, _data/harnesses/**/kstreams.yml, _data/harnesses/**/kafka.yml
  Run second block of tests (ksqlDB recipes): any of: _includes/tutorials/**/ksql-test/**/*, _data/harnesses/**/ksql-test.yml
  Run third block of tests (mostly ksqlDB): any of: _includes/tutorials/**/ksql/**/*, _data/harnesses/**/ksql.yml
  Run fourth block of tests (FlinkSql or DataStream API): any of: _includes/tutorials/**/flinksql/**/*, _data/harnesses/**/flinksql.yml
