Repository confluentinc/kafka-tutorials: changes, and which Semaphore blocks are due for each by the changed paths.
All: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run second block of tests (ksqlDB recipes), Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Path conditions:
  ☕️ Build and Test Java (Kafka and Kafka Streams) Only: any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*
  Run first block of tests (mostly Kafka and KStreams): any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*, _data/harnesses/**/kstreams.yml, _data/harnesses/**/kafka.yml
  Run second block of tests (ksqlDB recipes): any of: _includes/tutorials/**/ksql-test/**/*, _data/harnesses/**/ksql-test.yml
  Run third block of tests (mostly ksqlDB): any of: _includes/tutorials/**/ksql/**/*, _data/harnesses/**/ksql.yml
  Run fourth block of tests (FlinkSql or DataStream API): any of: _includes/tutorials/**/flinksql/**/*, _data/harnesses/**/flinksql.yml

build: set ksql version to 0.29.0
  _includes/tutorials/aggregating-count/ksql/code/docker-compose.yml
  _includes/tutorials/aggregating-minmax/ksql/code/docker-compose.yml
  _includes/tutorials/aggregating-sum/ksql/code/docker-compose.yml
  _includes/tutorials/anomaly-detection/ksql/code/docker-compose.yml
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
  _includes/tutorials/column-difference/ksql/code/docker-compose.yml
  _includes/tutorials/concatenation/ksql/code/docker-compose.yml
  _includes/tutorials/connect-add-key-to-source/ksql/code/docker-compose.yml
  _includes/tutorials/count-messages/ksql/code/docker-compose.yml
  _includes/tutorials/deserialization-errors/ksql/code/docker-compose.yml
  _includes/tutorials/filtering/ksql/code/docker-compose.yml
  _includes/tutorials/finding-distinct/ksql/code/docker-compose.yml
  _includes/tutorials/flatten-nested-data/ksql/code/docker-compose.yml
  _includes/tutorials/generate-test-data-streams/ksql/code/docker-compose.yml
  _includes/tutorials/geo-distance/ksql/code/docker-compose.yml
  _includes/tutorials/hopping-windows/ksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/ksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-table/ksql/code/docker-compose.yml
  _includes/tutorials/joining-table-table/ksql/code/docker-compose.yml
  _includes/tutorials/ksql-heterogeneous-json/ksql/code/docker-compose.yml
  _includes/tutorials/ksql-nested-json/ksql/code/docker-compose.yml
  _includes/tutorials/masking-data/ksql/code/docker-compose.yml
  _includes/tutorials/merging/ksql/code/docker-compose.yml
  _includes/tutorials/multi-joins/ksql/code/docker-compose.yml
  _includes/tutorials/rekeying-function/ksql/code/docker-compose.yml
  _includes/tutorials/rekeying/ksql/code/docker-compose.yml
  _includes/tutorials/serialization/ksql/code/docker-compose.yml
  _includes/tutorials/session-windows/ksql/code/docker-compose.yml
  _includes/tutorials/splitting/ksql/code/docker-compose.yml
  _includes/tutorials/time-concepts/ksql/code/docker-compose.yml
  _includes/tutorials/transforming/ksql/code/docker-compose.yml
  _includes/tutorials/tumbling-windows/ksql/code/docker-compose.yml
  _includes/tutorials/udf/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

chore: update repo semaphore project
  .semaphore/project_public.yml
Due: none

build: set ksql version to 0.705000235.1-rc2
  _includes/tutorials/aggregating-count/ksql/code/docker-compose.yml
  _includes/tutorials/aggregating-minmax/ksql/code/docker-compose.yml
  _includes/tutorials/aggregating-sum/ksql/code/docker-compose.yml
  _includes/tutorials/anomaly-detection/ksql/code/docker-compose.yml
  _includes/tutorials/change-topic-partitions-replicas/ksql/code/docker-compose.yml
  _includes/tutorials/column-difference/ksql/code/docker-compose.yml
  _includes/tutorials/concatenation/ksql/code/docker-compose.yml
  _includes/tutorials/connect-add-key-to-source/ksql/code/docker-compose.yml
  _includes/tutorials/count-messages/ksql/code/docker-compose.yml
  _includes/tutorials/deserialization-errors/ksql/code/docker-compose.yml
  _includes/tutorials/filtering/ksql/code/docker-compose.yml
  _includes/tutorials/finding-distinct/ksql/code/docker-compose.yml
  _includes/tutorials/flatten-nested-data/ksql/code/docker-compose.yml
  _includes/tutorials/generate-test-data-streams/ksql/code/docker-compose.yml
  _includes/tutorials/geo-distance/ksql/code/docker-compose.yml
  _includes/tutorials/hopping-windows/ksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/ksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-table/ksql/code/docker-compose.yml
  _includes/tutorials/joining-table-table/ksql/code/docker-compose.yml
  _includes/tutorials/ksql-heterogeneous-json/ksql/code/docker-compose.yml
  _includes/tutorials/ksql-nested-json/ksql/code/docker-compose.yml
  _includes/tutorials/masking-data/ksql/code/docker-compose.yml
  _includes/tutorials/merging/ksql/code/docker-compose.yml
  _includes/tutorials/multi-joins/ksql/code/docker-compose.yml
  _includes/tutorials/rekeying-function/ksql/code/docker-compose.yml
  _includes/tutorials/rekeying/ksql/code/docker-compose.yml
  _includes/tutorials/serialization/ksql/code/docker-compose.yml
  _includes/tutorials/session-windows/ksql/code/docker-compose.yml
  _includes/tutorials/splitting/ksql/code/docker-compose.yml
  _includes/tutorials/time-concepts/ksql/code/docker-compose.yml
  _includes/tutorials/transforming/ksql/code/docker-compose.yml
  _includes/tutorials/tumbling-windows/ksql/code/docker-compose.yml
  _includes/tutorials/udf/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB)

fix: broken links
  _includes/shared/markup/ccloud/provision-cluster.adoc
Due: none

fix: broken links (#1589)
  _includes/shared/markup/ccloud/provision-cluster.adoc
Due: none

chore: update repo semaphore project (#1590)
  .semaphore/project_public.yml
Due: none

update Confluent CLI install instructions to point to docs rather than in product instructions
  _includes/shared/markup/ccloud/get-ccloud.adoc
Due: none

removing cache logic as preparation for new public cluster migration which lacks the cache
  .semaphore/semaphore.yml
Due: none

Update harness-console-consumer-keys.sh
  _includes/tutorials/console-consumer-producer-avro/confluent/code/tutorial-steps/dev/harness-console-consumer-keys.sh
Due: none

remove default flag value
  _includes/tutorials/aggregating-count/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-three.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-two.sh
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/console-consumer-producer-avro/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/console-consumer-producer-basic/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/console-consumer-read-specific-offsets-partition/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/dynamic-output-topic/confluent/code/tutorial-steps/dev/ccloud-producer.sh
  _includes/tutorials/filtering/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/finding-distinct/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/console-producer.sh
Due: none

use full flag name for --from-beginning, standardize flag order
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/kafka-producer-application/confluent/code/tutorial-steps/dev/ccloud-cli-consumer.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/streams-console-consumer.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/table-console-consumer.sh
Due: none

remove more default values
  _includes/tutorials/aggregating-sum/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-one.sh
Due: none

Nit: Fix format for `confluent kafka topic consume` (#1598)
  _includes/tutorials/aggregating-count/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/aggregating-sum/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-one.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-three.sh
  _includes/tutorials/cogrouping-streams/confluent/code/tutorial-steps/dev/ccloud-produce-two.sh
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/console-consumer-producer-avro/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/console-consumer-producer-avro/confluent/code/tutorial-steps/dev/harness-console-consumer-keys.sh
  _includes/tutorials/console-consumer-producer-basic/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/console-consumer-read-specific-offsets-partition/confluent/code/tutorial-steps/dev/console-producer-keys.sh
  _includes/tutorials/dynamic-output-topic/confluent/code/tutorial-steps/dev/ccloud-producer.sh
  _includes/tutorials/filtering/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/finding-distinct/confluent/code/tutorial-steps/dev/ccloud-produce-events.sh
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/kafka-producer-application/confluent/code/tutorial-steps/dev/ccloud-cli-consumer.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/console-producer.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/streams-console-consumer.sh
  _includes/tutorials/streams-to-table/confluent/code/tutorial-steps/dev/table-console-consumer.sh
Due: none

add a second new line so cat func doesn't mess up config
  _includes/tutorials/creating-first-apache-kafka-streams-application/confluent/code/configuration/dev.properties
Due: none

Fixing tutorial to use DatagenConnector vs. Voluable
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/docker-compose.yml
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/primitives.json
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/tutorial-steps/dev/console-consumer-keys-deserializers.sh
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/tutorial-steps/dev/expected-output-step-two.txt
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/tutorial-steps/dev/harness-expected-output-step-two.txt
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/markup/dev/init.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add a second new line so cat func doesn't mess up config (#1599)
  _includes/tutorials/creating-first-apache-kafka-streams-application/confluent/code/configuration/dev.properties
Due: none

Add new line to output files
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/tutorial-steps/dev/expected-output-step-two.txt
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/tutorial-steps/dev/harness-expected-output-step-two.txt
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add IBM MQ explicit mention to mainframe offload recipe
  _includes/tutorials/mainframe-offload/confluent/code/tutorial-steps/dev/source.json
  _includes/tutorials/mainframe-offload/confluent/code/tutorial-steps/dev/source.sql
  _includes/tutorials/mainframe-offload/confluent/markup/dev/ksqlDB.adoc
Due: none

Add copy of schema to harness file
  _data/harnesses/console-consumer-primitive-keys-values/kafka.yml
Due: Run first block of tests (mostly Kafka and KStreams)

removing cache logic as preparation for new public cluster migration (#1597)
  .semaphore/semaphore.yml
Due: none

Update Kafka version of tutorial for using datagen connector
  _data/harnesses/generate-test-data-streams/kafka.yml
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/markup/dev/init.adoc
  _includes/tutorials/generate-test-data-streams/kafka/code/docker-compose.yml
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-01.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-02.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-02_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-03.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-connector-03_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-plugin.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/check-plugin_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-01.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-01_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-02a.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-02a_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-02b.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/consume-topic-02b_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-02.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-02_expected.log
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-03.sh
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/check-connector-02.adoc
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/consume-topic-01.adoc
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/create-connector-02.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Correct the create connector page in harness file
  _data/harnesses/generate-test-data-streams/kafka.yml
Due: Run first block of tests (mostly Kafka and KStreams)

Another harness file fix
  _data/harnesses/generate-test-data-streams/kafka.yml
Due: Run first block of tests (mostly Kafka and KStreams)

Add kafka test to semaphore
  .semaphore/semaphore.yml
Due: none

Restore PR deployments
  .semaphore/pr-staging-deploy.yml
Due: none

Add pulling ruby dependencies to PR deploy
  .semaphore/pr-staging-deploy.yml
Due: none

Changes for added DatagenConnector
  .semaphore/live-site-deploy.yml
  .semaphore/staging-site-deploy.yml
  _data/harnesses/generate-test-data-streams/ksql.yml
  _includes/tutorials/generate-test-data-streams/ksql/code/Makefile
  _includes/tutorials/generate-test-data-streams/ksql/code/docker-compose.yml
  _includes/tutorials/generate-test-data-streams/ksql/code/src/statements.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/check-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/check-connector-02_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/check-plugin_expected.out
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/consume-topic.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/consume-topic_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-02.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-02_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-03.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-stream-01.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/describe-connector-01.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/describe-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/describe-stream-01.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/describe-stream-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/join-streams-declare.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/join-streams-declare_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/join-streams-do.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/join-streams-do_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/query-stream-01.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/query-stream-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/consume-topic.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/create-connector-02.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/join-streams-declare.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/make-dirs.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/make-docker-compose.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/make-sql-commandfile.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/make-src-file.adoc
Due: Run third block of tests (mostly ksqlDB)

Fix harness file for jekyll build
  _data/harnesses/generate-test-data-streams/ksql.yml
Due: Run third block of tests (mostly ksqlDB)

Addressing comments on PR
  _data/harnesses/generate-test-data-streams/kafka.yml
  _data/harnesses/generate-test-data-streams/ksql.yml
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/code/primitives.json
  _includes/tutorials/console-consumer-primitive-keys-values/kafka/markup/dev/init.adoc
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-01.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-02.sh
  _includes/tutorials/generate-test-data-streams/kafka/code/tutorial-steps/dev/create-connector-03.sh
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/check-connector-02.adoc
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/check-connector-03.adoc
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/create-connector-02.adoc
  _includes/tutorials/generate-test-data-streams/kafka/markup/dev/create-connector-03.adoc
  _includes/tutorials/generate-test-data-streams/ksql/code/src/statements.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/check-connector-01_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/check-connector-02_expected.log
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-01.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-02.sql
  _includes/tutorials/generate-test-data-streams/ksql/code/tutorial-steps/dev/create-connector-03.sql
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/create-connector-02.adoc
  _includes/tutorials/generate-test-data-streams/ksql/markup/dev/create-connector-03.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run third block of tests (mostly ksqlDB)
