Repository confluentinc/kafka-tutorials: changes, and which Semaphore blocks are due for each by the changed paths.
All: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run second block of tests (ksqlDB recipes), Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Path conditions:
  ☕️ Build and Test Java (Kafka and Kafka Streams) Only: any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*
  Run first block of tests (mostly Kafka and KStreams): any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*, _data/harnesses/**/kstreams.yml, _data/harnesses/**/kafka.yml
  Run second block of tests (ksqlDB recipes): any of: _includes/tutorials/**/ksql-test/**/*, _data/harnesses/**/ksql-test.yml
  Run third block of tests (mostly ksqlDB): any of: _includes/tutorials/**/ksql/**/*, _data/harnesses/**/ksql.yml
  Run fourth block of tests (FlinkSql or DataStream API): any of: _includes/tutorials/**/flinksql/**/*, _data/harnesses/**/flinksql.yml

add IBM MQ explicit mention to mainframe offload recipe (#1601)
  _includes/tutorials/mainframe-offload/confluent/code/tutorial-steps/dev/source.json
  _includes/tutorials/mainframe-offload/confluent/code/tutorial-steps/dev/source.sql
  _includes/tutorials/mainframe-offload/confluent/markup/dev/ksqlDB.adoc
Due: none

Fixed final result, updated cp versions in docker-compose.yml
  _data/harnesses/window-final-result/kstreams.yml
  _includes/tutorials/cogrouping-streams/kstreams/code/Makefile
  _includes/tutorials/cogrouping-streams/kstreams/code/build.gradle
  _includes/tutorials/cogrouping-streams/kstreams/code/docker-compose.yml
  _includes/tutorials/produce-consume-lang/scala/code/Makefile
  _includes/tutorials/window-final-result/kstreams/code/Makefile
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/docker-compose.yml
  _includes/tutorials/window-final-result/kstreams/code/tutorial-steps/dev/outputs/actual-count.txt
  _includes/tutorials/window-final-result/kstreams/code/tutorial-steps/dev/run-producer-execute.sh
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Update KS deps and rename project
  _includes/tutorials/versioned-ktables/kstreams/code/build.gradle
  _includes/tutorials/versioned-ktables/kstreams/code/settings.gradle
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

don't format confluent commands as bash
  _includes/tutorials/aggregating-count/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/aggregating-sum/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/perftest/make-topic.adoc
  _includes/tutorials/count-messages/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/error-handling/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/filtering/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/finding-distinct/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-consume-rated-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-ratings.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/kafka-producer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-classical-producer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-rock-producer.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/optimize-producer-throughput/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/session-windows/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-producer.adoc
Due: none

add period
  _includes/tutorials/console-consumer-read-specific-offsets-partition/confluent/markup/dev/consume-topic-partition-offsets.adoc
Due: none

fix more instances
  _data/harnesses/clickstream/confluent.yml
  _data/harnesses/confluent-parallel-consumer-application/confluent.yml
  _data/harnesses/console-consumer-producer-avro/confluent.yml
  _data/harnesses/console-consumer-producer-basic/confluent.yml
  _data/harnesses/console-consumer-read-specific-offsets-partition/confluent.yml
  _data/harnesses/count-messages/confluent.yml
  _data/harnesses/creating-first-apache-kafka-streams-application/confluent.yml
  _data/harnesses/customer-journey/confluent.yml
Due: none

use plaintext highlighting
  _includes/tutorials/aggregating-count/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/aggregating-sum/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/perftest/make-topic.adoc
  _includes/tutorials/count-messages/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/error-handling/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/filtering/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/finding-distinct/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-consume-rated-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-ratings.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/kafka-producer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-classical-producer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-rock-producer.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/optimize-producer-throughput/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/session-windows/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-producer.adoc
Due: none

fix example with leading space
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-consumer.adoc
Due: none

Don't format confluent commands as Bash (#1604)
  _includes/tutorials/aggregating-count/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/aggregating-sum/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/confluent-parallel-consumer-application/confluent/markup/perftest/make-topic.adoc
  _includes/tutorials/count-messages/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/error-handling/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/filtering/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/finding-distinct/confluent/markup/dev/ccloud-run-consume.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-consume-rated-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-movies.adoc
  _includes/tutorials/joining-stream-table/confluent/markup/dev/ccloud-produce-ratings.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/ccloud-run-producer.adoc
  _includes/tutorials/kafka-consumer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/create-topic.adoc
  _includes/tutorials/kafka-producer-application-callback/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/kafka-producer-application/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-classical-producer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-consumer.adoc
  _includes/tutorials/merging/confluent/markup/dev/run-rock-producer.adoc
  _includes/tutorials/multiple-event-types/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/optimize-producer-throughput/confluent/markup/dev/make-topic.adoc
  _includes/tutorials/session-windows/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-consumer.adoc
  _includes/tutorials/splitting/confluent/markup/dev/ccloud-run-producer.adoc
Due: none

updates needed for creating the tutorial
  _data/harnesses/versioned-ktables/kstreams.yml
  _data/tutorials.yaml
  _includes/tutorials/versioned-ktables/kstreams/code/configuration/dev.properties
  _includes/tutorials/versioned-ktables/kstreams/code/configuration/test.properties
  _includes/tutorials/versioned-ktables/kstreams/code/settings.gradle
  _includes/tutorials/versioned-ktables/kstreams/code/src/main/avro/login-event.avsc
  _includes/tutorials/versioned-ktables/kstreams/code/src/main/avro/login-rollup.avsc
  _includes/tutorials/versioned-ktables/kstreams/code/src/main/java/io/confluent/developer/VersionedKTableExample.java
  _includes/tutorials/versioned-ktables/kstreams/code/src/test/java/io/confluent/developer/VersionedKTableExampleTest.java
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/make-avro-dir.sh
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/short-answer.adoc
  index.html
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Updated build topology and clean up of uneccesary files
  _data/tutorials.yaml
  _includes/tutorials/versioned-ktables/kstreams/code/docker-compose.yml
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/init.sh
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-aggregator.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-avro-dir.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-login-event-schema.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-login-rollup-schema.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-topology.adoc
  index.html
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

last changes for working tutorial
  _data/harnesses/versioned-ktables/kstreams.yml
  _includes/tutorials/versioned-ktables/kstreams/code/Makefile
  _includes/tutorials/versioned-ktables/kstreams/code/build.gradle
  _includes/tutorials/versioned-ktables/kstreams/code/configuration/dev.properties
  _includes/tutorials/versioned-ktables/kstreams/code/src/main/java/io/confluent/developer/VersionedKTableExample.java
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/console-consumer-verify-table.sh
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/expected-output-validate-table.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/expected-output.json
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/expected-output.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/harness-console-consumer-verify-table.sh
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/harness-console-consumer.sh
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/harness-expected-output-validate-table.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/harness-expected-output.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/outputs/actual-output-validate-table.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/outputs/actual-output.json
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/outputs/actual-output.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/run-dev-app.sh
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/run-consumer.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/run-dev-app.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/test/make-aggregator-test.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/test/make-test-dir.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/test/make-topology-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add to settings.gradle for test
  settings.gradle
Due: none

Remove output files add output dir to .gitignore
  _includes/tutorials/versioned-ktables/kstreams/code/.gitignore
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/outputs/actual-output-validate-table.txt
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/outputs/actual-output.txt
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

use confluent cli in aggregating count demo
  _includes/tutorials/aggregating-count/flinksql/code/docker-compose.yml
  _includes/tutorials/aggregating-count/flinksql/code/tutorial-steps/dev/populate-movie-sales-by-title.sql
  _includes/tutorials/aggregating-count/flinksql/code/tutorial-steps/dev/set-topic-cleanup-policy.sh
  _includes/tutorials/aggregating-count/flinksql/code/tutorial-steps/dev/validate-movie-sales-by-title.sh
Due: Run fourth block of tests (FlinkSql or DataStream API)

Update _includes/tutorials/aggregating-count/flinksql/code/docker-compose.yml
  _includes/tutorials/aggregating-count/flinksql/code/docker-compose.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

use no-authentication and switch aggregating-minmax demo
  _includes/tutorials/aggregating-count/flinksql/code/tutorial-steps/dev/set-topic-cleanup-policy.sh
  _includes/tutorials/aggregating-minmax/flinksql/code/docker-compose.yml
  _includes/tutorials/aggregating-minmax/flinksql/code/tutorial-steps/dev/set-topic-cleanup-policy.sh
Due: Run fourth block of tests (FlinkSql or DataStream API)

use integer deserialization for consumer example
  _includes/tutorials/aggregating-count/flinksql/code/tutorial-steps/dev/validate-movie-sales-by-title.sh
  _includes/tutorials/aggregating-minmax/flinksql/code/tutorial-steps/dev/validate-movie-sales-by-year.sh
Due: Run fourth block of tests (FlinkSql or DataStream API)

fix docker image
  _includes/tutorials/aggregating-minmax/flinksql/code/docker-compose.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Updates per comments
  _data/harnesses/versioned-ktables/kstreams.yml
  _data/tutorials.yaml
  _includes/tutorials/versioned-ktables/kstreams/code/configuration/dev.properties
  _includes/tutorials/versioned-ktables/kstreams/code/configuration/prod.properties
  _includes/tutorials/versioned-ktables/kstreams/code/docker-compose.yml
  _includes/tutorials/versioned-ktables/kstreams/code/src/test/java/io/confluent/developer/VersionedKTableExampleTest.java
  _includes/tutorials/versioned-ktables/kstreams/code/tutorial-steps/dev/wait-for-containers.sh
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-topology.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/run-consumer.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/run-dev-app.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/short-answer.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/test/make-test-dir.adoc
  _includes/tutorials/versioned-ktables/kstreams/markup/test/make-topology-test.adoc
  index.html
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Update _includes/tutorials/aggregating-minmax/flinksql/code/docker-compose.yml
  _includes/tutorials/aggregating-minmax/flinksql/code/docker-compose.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

missed one comment
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/run-consumer.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Added warning to make sure on Java 17
  _includes/tutorials/versioned-ktables/kstreams/markup/dev/make-build-file.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Add harness and semaphore changes
  .semaphore/semaphore.yml
  _data/tutorials.yaml
Due: none

update schema and populate scripts
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-shipments.sql
Due: Run fourth block of tests (FlinkSql or DataStream API)

Get FlinkSLQ queries running
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-shipments.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-order-shipments-join.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-shipments.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/populate-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/populate-shipments.sql
  _includes/tutorials/joining-stream-stream/ksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/ksql/markup/test/make-test-input.adoc
  _includes/tutorials/joining-stream-stream/ksql/markup/test/make-test-output.adoc
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Changes for FlinkSQL join tutorial
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/make-dirs.sh
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/start-cli.sh
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/make-dirs.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/make-docker-compose.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/start-cli.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-input.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-output.adoc
  _includes/tutorials/joining-stream-stream/ksql/markup/test/make-test-input.adoc
  _includes/tutorials/joining-stream-stream/ksql/markup/test/make-test-output.adoc
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)
