Repository confluentinc/kafka-tutorials: changes, and which Semaphore blocks are due for each by the changed paths.
All: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run second block of tests (ksqlDB recipes), Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

☕️ Build and Test Java (Kafka and Kafka Streams) Only:
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - checkout
  jobs:
  - name: Tests
    matrix:
    - env_var: JAVA_VERSION
      values:
      - '17'
    commands:
    - sem-version java $JAVA_VERSION
    - ./gradlew clean test

Run first block of tests (mostly Kafka and KStreams):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: KStreams Test Streams schedule operations tests
    commands:
    - make -C _includes/tutorials/kafka-streams-schedule-operations/kstreams/code tutorial
  - name: KStreams transforming tests
    commands:
  ...

Run second block of tests (ksqlDB recipes):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: Payment Status Check
    commands:
    - make -C _includes/tutorials/payment-status-check/ksql-test/code tutorial
  - name: Model Retraining
    commands:
  ...

Run third block of tests (mostly ksqlDB):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 17
  jobs:
  - name: KStreams Connect key tests
    commands:
    - make -C _includes/tutorials/connect-add-key-to-source/kstreams/code tutorial
  - name: KSQL Test ksqlDB nested JSON tests
    commands:
  ...

Run fourth block of tests (FlinkSql or DataStream API):
  prologue:
    commands:
    - echo $SEMAPHORE_WORKFLOW_ID
    - sem-version java 11
  jobs:
  - name: Flink SQL aggregation MIN/MAX tests
    commands:
    - make -C _includes/tutorials/aggregating-minmax/flinksql/code tutorial
  - name: Flink SQL test for aggregating count
    commands:
  ...

Fixed tutorial output for console consumer close, updated version, added git ignore for testing output
  .gitignore
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/code/tutorial-steps/dev/console-consumer.sh
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/code/tutorial-steps/dev/expected-total-output.txt
  _includes/tutorials/window-final-result/kstreams/code/build.gradle
  _includes/tutorials/window-final-result/kstreams/code/tutorial-steps/dev/outputs/actual-count.txt
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

Correct .gitignore entry
  .gitignore
Due: none

Added ingoring all outputs dirs, started with explaining building tables
  .gitignore
  _includes/tutorials/joining-stream-stream/flinksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-orders-stream.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-shipments-stream.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Get joins working with time differences
  _includes/tutorials/joining-stream-stream/flinksql/code/docker-compose.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-order-missed-shipments-join.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-orders-stream.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-shipments-stream.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-shipments.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/populate-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/populate-shipments.sql
Due: Run fourth block of tests (FlinkSql or DataStream API)

Writing and executing the query with explaination
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-order-missed-shipments-join.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-order-shipments-join.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-orders-table.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-shipments-table.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-transient.log
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/set-properties.sql
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-orders-stream.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-orders-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-shipments-stream.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-shipments-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/set-properties.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/transient-join.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Adding link for interval join and mention in text
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/transient-join.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Complete tutorial section and adding test section
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/build.gradle
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-orders.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipments.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/expected-shipped-orders.txt
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/continuous-join.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/create-join-results-table.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-print-output-topic.log
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-print.log
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-shipped-orders.log
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/populate-shipped-orders-table.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/print-output-topic.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/validate-shipped-orders.sh
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/gradle-wrapper.sh
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/make-test-dirs.sh
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/continuous-join.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/make-src-file.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/populate-shipped-orders-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/print-output-topic.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/validate-shipped-orders-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-orders.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-shipments.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-expected-shipped-orders.txt.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-populate-orders.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-populate-shipments.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-query-join-order-shipments.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-build-gradle.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-gradle-wrapper.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-base.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-dirs.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-input.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-output.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/test-architecture.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Tutorial rendering from end-to-end
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlIntervalJoinTest.java
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-orders.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipments.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipped-orders.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/expected-shipped-orders.txt
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-shipped-orders-table.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/query-join-order-shipments.sql
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-orders.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-populate-shipped-orders-table.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-query-join-order-shipments.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-query-shipped-orders.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-shipped-orders.sql.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/invoke-test.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test-base.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

All working but some weirdness with dates on unit tests
  _includes/tutorials/joining-stream-stream/flinksql/code/gradle/wrapper/gradle-wrapper.jar
  _includes/tutorials/joining-stream-stream/flinksql/code/gradle/wrapper/gradle-wrapper.properties
  _includes/tutorials/joining-stream-stream/flinksql/code/gradlew
  _includes/tutorials/joining-stream-stream/flinksql/code/gradlew.bat
  _includes/tutorials/joining-stream-stream/flinksql/code/settings.gradle
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/java/io/confluent/developer/AbstractFlinkKafkaTest.java
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlIntervalJoinTest.java
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipped-orders.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/expected-shipped-orders.txt
Due: Run fourth block of tests (FlinkSql or DataStream API)

Swap expected output files to correct ones
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-print-output-topic.log
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/expected-shipped-orders.log
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/validate-shipped-orders-table.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Update versions Add json dependency for table definitions
  _includes/tutorials/joining-stream-stream/flinksql/code/build.gradle
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-orders.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipments.sql.template
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/create-shipped-orders.sql.template
Due: Run fourth block of tests (FlinkSql or DataStream API)

DOH! didn't have the same inputs from tutorial
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-orders.sql
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/populate-shipments.sql
Due: Run fourth block of tests (FlinkSql or DataStream API)

Set timezone to UTC for Table API Update stringToLineSet to remove spaces format expected shipped orders
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/java/io/confluent/developer/AbstractFlinkKafkaTest.java
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/resources/expected-shipped-orders.txt
Due: Run fourth block of tests (FlinkSql or DataStream API)

Revert changes in wrong files, update Makefile for testing
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/aggregating-count/flinksql/markup/test/make-test.adoc
  _includes/tutorials/joining-stream-stream/flinksql/code/Makefile
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/dev/wait-for-containers.sh
  _includes/tutorials/joining-stream-stream/ksql/code/docker-compose.yml
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Update semaphore.yml
  .semaphore/semaphore.yml
Due: none

Adding change for semaphore docker image access
  .semaphore/semaphore.yml
Due: none

remove change didn't work
  .semaphore/semaphore.yml
Due: none

Update pr-staging-deploy.yml
  .semaphore/pr-staging-deploy.yml
Due: none

Update staging-site-deploy.yml
  .semaphore/staging-site-deploy.yml
Due: none

Update live-site-deploy.yml
  .semaphore/live-site-deploy.yml
Due: none

Addressing comments from userback
  _data/tutorials.yaml
Due: none

Update pipelines to assume new sempahore role (#1612)
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
Due: none

Fixed tutorial harness file
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Change command in validation from make_file to execute
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Addressing comments from userback (#1613)
  _data/tutorials.yaml
Due: none

Ugh - When will the bleeding stop?? corrected file name
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Adding some missing files
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/invoke-test.sh
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/run-tests.sh
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/invoke-test.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Missed one from last time
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-query-join-order-shipments.sql.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

DP-12820 Migrate semaphore users off static cc-root-1 credentials
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
Due: none

DP-12820 Migrate semaphore users off static cc-root-1 credentials (#1614)
  .semaphore/live-site-deploy.yml
  .semaphore/pr-staging-deploy.yml
  .semaphore/semaphore.yml
  .semaphore/staging-site-deploy.yml
Due: none

Path conditions:
  ☕️ Build and Test Java (Kafka and Kafka Streams) Only: any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*
  Run first block of tests (mostly Kafka and KStreams): any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*, _data/harnesses/**/kstreams.yml, _data/harnesses/**/kafka.yml
  Run second block of tests (ksqlDB recipes): any of: _includes/tutorials/**/ksql-test/**/*, _data/harnesses/**/ksql-test.yml
  Run third block of tests (mostly ksqlDB): any of: _includes/tutorials/**/ksql/**/*, _data/harnesses/**/ksql.yml
  Run fourth block of tests (FlinkSql or DataStream API): any of: _includes/tutorials/**/flinksql/**/*, _data/harnesses/**/flinksql.yml
