Repository confluentinc/kafka-tutorials: changes, and which Semaphore blocks are due for each by the changed paths.
All: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams), Run second block of tests (ksqlDB recipes), Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Path conditions:
  ☕️ Build and Test Java (Kafka and Kafka Streams) Only: any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*
  Run first block of tests (mostly Kafka and KStreams): any of: _includes/tutorials/**/kstreams/**/*, _includes/tutorials/**/kafka/**/*, _includes/tutorials/**/scala/**/*, _data/harnesses/**/kstreams.yml, _data/harnesses/**/kafka.yml
  Run second block of tests (ksqlDB recipes): any of: _includes/tutorials/**/ksql-test/**/*, _data/harnesses/**/ksql-test.yml
  Run third block of tests (mostly ksqlDB): any of: _includes/tutorials/**/ksql/**/*, _data/harnesses/**/ksql.yml
  Run fourth block of tests (FlinkSql or DataStream API): any of: _includes/tutorials/**/flinksql/**/*, _data/harnesses/**/flinksql.yml

Fixed tutorial harness file
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Change command in validation from make_file to execute
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Make consumer sync
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Ugh - When will the bleeding stop?? corrected file name
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

Missed one from last time
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-query-join-order-shipments.sql.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Adding some missing files
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/invoke-test.sh
  _includes/tutorials/joining-stream-stream/flinksql/code/tutorial-steps/test/run-tests.sh
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/invoke-test.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Address review comments add pause for validation step
  _data/harnesses/joining-stream-stream/flinksql.yml
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/create-shipments-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/transient-join.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/validate-shipped-orders-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-shipments.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-shipped-orders.sql.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Move sleep outside of stdout block
  _data/harnesses/joining-stream-stream/flinksql.yml
Due: Run fourth block of tests (FlinkSql or DataStream API)

add inline code copy to first KStreams app tutorial
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/dev/make-topology.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/dev/make-util.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/test/make-test-file.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/test/make-topology-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add alt text to any images missing it
  _includes/navMenus/build.html
  _includes/navMenus/community.html
  _includes/navMenus/courses.html
  _includes/navMenus/docs.html
  _includes/navMenus/learn.html
  _includes/tutorials/console-consumer-read-specific-offsets-partition/confluent/markup/dev/answer-short.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-filter-to-named-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-filter-to-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-names-to-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/make-topology.adoc
  _layouts/recipe.html
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add inline code copy to first KStreams app tutorial (#1615)
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/dev/make-topology.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/dev/make-util.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/test/make-test-file.adoc
  _includes/tutorials/creating-first-apache-kafka-streams-application/kstreams/markup/test/make-topology-test.adoc
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

add alt text to any images missing it (#1616)
  _includes/navMenus/build.html
  _includes/navMenus/community.html
  _includes/navMenus/courses.html
  _includes/navMenus/docs.html
  _includes/navMenus/learn.html
  _includes/tutorials/console-consumer-read-specific-offsets-partition/confluent/markup/dev/answer-short.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-filter-to-named-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-filter-to-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/add-names-to-topology.adoc
  _includes/tutorials/naming-changelog-repartition-topics/kstreams/markup/dev/make-topology.adoc
  _layouts/recipe.html
Due: ☕️ Build and Test Java (Kafka and Kafka Streams) Only, Run first block of tests (mostly Kafka and KStreams)

chore: fix typos in Flink SQL tutorials
  _includes/tutorials/aggregating-count/flinksql/code/src/test/java/io/confluent/developer/AbstractFlinkKafkaTest.java
  _includes/tutorials/aggregating-count/flinksql/markup/dev/create-movie-sales-by-title.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/dev/create-movie-ticket-sales.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/test/make-test.adoc
  _includes/tutorials/aggregating-count/ksql/markup/dev/create-movie-ticket-sales.adoc
  _includes/tutorials/aggregating-minmax/flinksql/code/src/test/java/io/confluent/developer/AbstractFlinkKafkaTest.java
  _includes/tutorials/aggregating-minmax/flinksql/markup/dev/create-movie-sales-by-year.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/test/make-test.adoc
  _includes/tutorials/joining-stream-stream/flinksql/code/src/test/java/io/confluent/developer/AbstractFlinkKafkaTest.java
  _includes/tutorials/joining-stream-stream/flinksql/markup/dev/populate-shipped-orders-table.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/make-test.adoc
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

fix failing Flink SQL splitting test
  _data/harnesses/splitting/flinksql.yml
  _includes/tutorials/splitting/flinksql/code/Makefile
  _includes/tutorials/splitting/flinksql/code/tutorial-steps/dev/expected-acting-events-fantasy.log
  _includes/tutorials/splitting/flinksql/code/tutorial-steps/dev/validate-acting-events-fantasy.sh
  _includes/tutorials/splitting/flinksql/markup/dev/create-acting-events-drama.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/create-acting-events-fantasy.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/create-acting-events-other.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Completed validation section
  _data/harnesses/filtering/flinksql.yml
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-books-by-author.log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/print-output-topic.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/validate-publications-by-author.sh
  _includes/tutorials/filtering/flinksql/markup/dev/validate-movie-sales-by-year.adoc
  _includes/tutorials/filtering/flinksql/markup/dev/validate-publications-by-author.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Completed the create sql resources section
  _data/harnesses/filtering/flinksql.yml
  _includes/tutorials/filtering/flinksql/code/src/test/resources/create-all-publications.sql.template
  _includes/tutorials/filtering/flinksql/code/src/test/resources/create-movie-sales-by-year.sql.template
  _includes/tutorials/filtering/flinksql/code/src/test/resources/create-publications-by-author.sql.template
  _includes/tutorials/filtering/flinksql/code/src/test/resources/expected-publications-by-author.txt
  _includes/tutorials/filtering/flinksql/code/src/test/resources/populate-movie-sales-by-year.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/populate-movie-sales.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/populate-publication-events.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/populate-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/query-movie-sales-by-year.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/query-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/set-topic-cleanup-policy.sh
  _includes/tutorials/filtering/flinksql/markup/test/create-all-publications.sql.template.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-create-movie-sales-by-year.sql.template.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-create-publications-by-author.sql.template.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-expected-movie-sales-by-year.txt.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-expected-publications-by-author.txt.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-populate-movie-sales-by-year.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-populate-movie-sales.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-populate-publication-events.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-populate-publications-by-author.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-query-movie-sales-by-year.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-resource-query-publications-by-author.sql.adoc
  _includes/tutorials/filtering/flinksql/markup/test/make-build-gradle.adoc
  _includes/tutorials/filtering/flinksql/markup/test/make-test-dirs.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Update makefile for expected results file
  _includes/tutorials/filtering/flinksql/code/Makefile
Due: Run fourth block of tests (FlinkSql or DataStream API)

Completed tutorial
  _includes/tutorials/filtering/flinksql/code/build.gradle
  _includes/tutorials/filtering/flinksql/code/docker-compose.yml
  _includes/tutorials/filtering/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlFilteringTest.java
  _includes/tutorials/filtering/flinksql/code/src/test/resources/create-all-publications.sql.template
  _includes/tutorials/filtering/flinksql/code/src/test/resources/create-publications-by-author.sql.template
  _includes/tutorials/filtering/flinksql/code/src/test/resources/expected-publications-by-author.txt
  _includes/tutorials/filtering/flinksql/code/src/test/resources/populate-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/src/test/resources/query-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/create-all-publications.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/create-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-books-by-author.log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-print-output-topic.log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-transient-query-changelog.log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-transient-query.log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/populate-publications-by-author.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/print-output-topic.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/transient-query.sql
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/validate-publications-by-author.sh
Due: Run fourth block of tests (FlinkSql or DataStream API)

Add new line end of expected log
  _includes/tutorials/filtering/flinksql/code/tutorial-steps/dev/expected-books-by-author.log
Due: Run fourth block of tests (FlinkSql or DataStream API)

Fixes for running integration test
  _includes/tutorials/filtering/flinksql/code/build.gradle
  _includes/tutorials/filtering/flinksql/code/settings.gradle
  _includes/tutorials/filtering/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlFilteringTest.java
  _includes/tutorials/filtering/flinksql/code/src/test/resources/expected-publications-by-author.txt
Due: Run fourth block of tests (FlinkSql or DataStream API)

update test for missing sql file
  _includes/tutorials/filtering/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlFilteringTest.java
Due: Run fourth block of tests (FlinkSql or DataStream API)

review comments - fix typos
  _includes/tutorials/filtering/flinksql/markup/dev/create-all-publications.adoc
  _includes/tutorials/filtering/flinksql/markup/dev/create-publications-by-author.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Completed init, cli, and validate sections
  _data/harnesses/finding-distinct/flinksql.yml
  _includes/tutorials/finding-distinct/flinksql/code/Makefile
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/create-deduplicated-clicks-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/create-join-results-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/create-order-shipments-join.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/create-shipments-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/deduplicate-click-events.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-deduplicated-clicks.log
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-print-output-topic.log
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-shipped-orders.log
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/populate-deduplicated-clicks-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/populate-shipments.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/populate-shipped-orders-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/print-output-topic.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/transient-join.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/validate-deduplicated-clicks.sh
  _includes/tutorials/finding-distinct/flinksql/markup/dev/create-clicks-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/create-shipments-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/populate-clicks.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/populate-deduplicated-clicks-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/populate-shipments.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/populate-shipped-orders-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/transient-deduplication.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/transient-join.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/validate-deduplicated-clicks-table.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

chore: wording tweaks and typos fixes
  _includes/shared/markup/ccloud/try-ccloud-properties.adoc
  _includes/shared/markup/ccloud/try-ccloud.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/test/create-resource-create-movie-sales.sql.template.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/test/create-resource-create-movie-sales.sql.template.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/connect-sink-timestamp/ksql/markup/dev/create-from-stream.adoc
  _includes/tutorials/deserialization-errors/ksql/markup/dev/check-errors-query.adoc
  _includes/tutorials/filtering/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-all-publications.sql.template.adoc
  _includes/tutorials/filtering/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-orders.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/kafka-connect-datagen/confluent/markup/dev/delete-connector.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/create-acting-events.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/transient-query-drama.adoc
  _includes/tutorials/splitting/flinksql/markup/test/create-resource-create-acting-events-drama.sql.template.adoc
  _includes/tutorials/splitting/flinksql/markup/test/create-resource-create-acting-events.sql.template.adoc
  _includes/tutorials/splitting/flinksql/markup/test/test-architecture.adoc
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Completed tutorial
  _data/harnesses/finding-distinct/flinksql.yml
  _includes/tutorials/finding-distinct/flinksql/code/build.gradle
  _includes/tutorials/finding-distinct/flinksql/code/src/test/java/io/confluent/developer/FlinkSqlFindingDistinctTest.java
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/create-clicks-table.sql.template
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/create-deduplicated-clicks-table.sql.template
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/create-orders.sql.template
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/create-shipped-orders.sql.template
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/expected-deduplicated-clicks.txt
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/expected-shipped-orders.txt
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/populate-clicks.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/populate-deduplicated-clicks-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/populate-orders.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/populate-shipments.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/populate-shipped-orders-table.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/query-deduplicated-clicks.sql
  _includes/tutorials/finding-distinct/flinksql/code/src/test/resources/query-join-order-shipments.sql
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-deduplicated-clicks.log
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-print-output-topic.log
  _includes/tutorials/finding-distinct/flinksql/code/tutorial-steps/dev/expected-transient.log
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-create-clicks-table.sql.template.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-create-orders.sql.template.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-create-shipments.sql.template.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-deduplicated-clicks-table.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-expected-deduplicated-clicks.txt.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-expected-shipped-orders.txt.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-clicks.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-orders.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-shipments.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-shipped-orders-table.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-query-deduplicated-clicks.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-query-join-order-shipments.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-shipped-orders.sql.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/make-build-gradle.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/make-test-dirs.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/make-test.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Update harness file
  _data/harnesses/finding-distinct/flinksql.yml
  _includes/tutorials/finding-distinct/flinksql/markup/dev/create-deduplicated-clicks-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/populate-deduplicated-clicks-table.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

chore: wording tweaks and typos fixes
  _includes/shared/markup/ccloud/try-ccloud-properties.adoc
  _includes/shared/markup/ccloud/try-ccloud.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/test/create-resource-create-movie-sales.sql.template.adoc
  _includes/tutorials/aggregating-count/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/test/create-resource-create-movie-sales.sql.template.adoc
  _includes/tutorials/aggregating-minmax/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/connect-sink-timestamp/ksql/markup/dev/create-from-stream.adoc
  _includes/tutorials/deserialization-errors/ksql/markup/dev/check-errors-query.adoc
  _includes/tutorials/filtering/flinksql/markup/dev/transient-query.adoc
  _includes/tutorials/filtering/flinksql/markup/test/create-all-publications.sql.template.adoc
  _includes/tutorials/filtering/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/create-resource-create-orders.sql.template.adoc
  _includes/tutorials/joining-stream-stream/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/kafka-connect-datagen/confluent/markup/dev/delete-connector.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/create-acting-events.adoc
  _includes/tutorials/splitting/flinksql/markup/dev/transient-query-drama.adoc
  _includes/tutorials/splitting/flinksql/markup/test/create-resource-create-acting-events-drama.sql.template.adoc
  _includes/tutorials/splitting/flinksql/markup/test/create-resource-create-acting-events.sql.template.adoc
  _includes/tutorials/splitting/flinksql/markup/test/test-architecture.adoc
  _includes/tutorials/tumbling-windows/flinksql/markup/dev/create-ratings.adoc
Due: Run third block of tests (mostly ksqlDB), Run fourth block of tests (FlinkSql or DataStream API)

Updates per comments
  _data/harnesses/finding-distinct/flinksql.yml
  _includes/tutorials/finding-distinct/flinksql/markup/dev/create-clicks-table.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/dev/transient-deduplication.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-create-clicks-table.sql.template.adoc
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-deduplicated-clicks-table.sql.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Missed one comment
  _includes/tutorials/finding-distinct/flinksql/markup/test/create-resource-populate-deduplicated-clicks-table.sql.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)

Update _includes/tutorials/tumbling-windows/flinksql/markup/dev/create-ratings.adoc
  _includes/tutorials/tumbling-windows/flinksql/markup/dev/create-ratings.adoc
Due: Run fourth block of tests (FlinkSql or DataStream API)
